.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    /* outline: red solid 2px; */
}

.input-box {
    width: 100%;
    margin: 0;
    position: fixed;
    bottom: 0;
    background-color: #000;
    /* outline: red solid 2px; */
}
.input-box input {
    width: calc(100% - 150px);
    height: 35px;
    margin: 12px 5px 12px 12px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 14px;
}

.input-box button {
    width: 85px;
    height: 37px;
}

.bottom {
    width: 100%;
    height: 1px;
    outline: red solid 1px;
}
