.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg-wrapper {
    width: 50%;
    background-color: #000;
    padding: 60px;
    border-radius: 10px;
}

.reg-wrapper input,
.reg-wrapper select {
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.reg-wrapper button {
    margin-bottom: 12px;
    padding: 8px 12px;
    font-weight: 600;
    background-color: rgb(41, 129, 70);
    border: #fff solid 2px;
    color: #fff;
    border-radius: 5px;
}

.success,
.failure {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 8px;
    background-color: #fff;
    border-radius: 5px;
    display: block;
}

.success {
    color: green;
}

.failure {
    color: red;
}

.neutral {
    display: none;
}