* {
    margin: 0;
    padding: 0;
}

.container {
    /* background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: lightgreen;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.chatbox-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}